<ng-container *ngIf="quiz; else noQuiz">
  <div class="w-screen-50 py-4 px-8 bg-white shadow-lg rounded-lg my-20">
    <div class="flex justify-center md:justify-end -mt-16">
      <img
        class="w-20 h-20 object-cover rounded-full border-2 border-indigo-500"
        [src]="quiz.imageUrl"
      />
    </div>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold">{{ quiz.title }}</h2>
      <ng-content></ng-content>
      <p class="mt-2 text-gray-600">
        {{ visibleBody }}
      </p>
    </div>
    <div class="flex justify-end mt-4">
      <button
        class="text-xl font-medium text-indigo-500"
        (click)="onInteractionButton()"
      >
        {{ interactionText }}
      </button>
    </div>
  </div>
</ng-container>
<ng-template #noQuiz>
  <p>No quiz found in QuizCard component, please pass one from the input.</p>
</ng-template>
