<div class="bg-gray-200 w-screen h-screen">
  <div class="flex justify-center h-full items-center">
    <ng-template [ngIf]="isCurrentGameStartState()">
      <p>Game Start!</p>
    </ng-template>
    <ng-template [ngIf]="isCurrentGameStartRoundState()">
      <p>Round Start!</p>
    </ng-template>
    <ng-template [ngIf]="isCurrentGameQuizState()">
      <ng-template [ngIf]="getCurrentQuizAsQuestion()">
        <mihyle-question-quiz
          [questionQuiz]="getCurrentQuizAsQuestion()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-question-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsKaraoke()">
        <mihyle-karaoke-quiz
          [karaokeQuiz]="getCurrentQuizAsKaraoke()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-karaoke-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsPicture()">
        <mihyle-picture-quiz
          [pictureQuiz]="getCurrentQuizAsPicture()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-picture-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsPicto()">
        <mihyle-picto-quiz
          [pictoQuiz]="getCurrentQuizAsPicto()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-picto-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsEnumeration()">
        <mihyle-enumeration-quiz
          [enumerationQuiz]="getCurrentQuizAsEnumeration()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-enumeration-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsDraw()">
        <mihyle-draw-quiz
          [drawQuiz]="getCurrentQuizAsDraw()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-draw-quiz>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="isCurrentGameEndRoundState()">
      <p>Round End!</p>
    </ng-template>
    <ng-template [ngIf]="isCurrentGameEndGameState()">
      <p>Game End!</p>
    </ng-template>
    <button (click)="OnClickNext()">Next</button>
    <button (click)="onTimerClick()">{{ timer }}</button>
  </div>
</div>
