<div
  class="bg-background bg-no-repeat bg-cover bg-right w-screen h-screen flex flex-row"
>
  <div class="flex flex-col h-full w-[50%] justify-center items-center">
    <div
      *ngIf="currentRound$.value"
      [ngClass]="{ 'mb-10': isCurrentGameStartRoundState() }"
      class="flex flex-row justify-between items-center w-full"
    >
      <div class="flex flex-col items-center w-72">
        <div class="bg-candyCane rounded-full w-40 p-1 box-shadow">
          <button
            class="bg-candy-red rounded-full w-full p-1 text-5xl text-grinch-green font-grinched border-4 border-candy-red text-shadow select-none"
            (click)="onRedTeamScoreClick()"
            (contextmenu)="onRedTeamScoreContext($event)"
          >
            {{ scoreService.teamRedScore }}
          </button>
        </div>
        <p class="font-grinched text-4xl select-none">Equipe GRINCH</p>
      </div>
      <div
        *ngIf="timerService.timer"
        class="bg-candyCane p-1 rounded-full box-shadow"
      >
        <button
          class="w-36 h-36 rounded-full bg-candy-red flex justify-center items-center text-8xl font-extrabold text-grinch-green font-grinched text-shadow select-none"
          (click)="onTimerClick()"
          (contextmenu)="onResetTimerClick($event)"
        >
          {{ timerService.timer }}
        </button>
      </div>
      <div class="flex flex-col items-center w-72">
        <div class="bg-candyCane rounded-full w-40 p-1 box-shadow">
          <button
            class="bg-candy-red rounded-full w-full p-1 text-5xl text-grinch-green font-grinched border-4 border-candy-red text-shadow select-none"
            (click)="onGreenTeamScoreClick()"
            (contextmenu)="onGreenTeamScoreContext($event)"
          >
            {{ scoreService.teamGreenScore }}
          </button>
        </div>
        <p class="font-grinched text-4xl select-none">Equipe MAX</p>
      </div>
    </div>
    <ng-template [ngIf]="isCurrentGameQuizState()">
      <ng-template [ngIf]="getCurrentQuizAsQuestion()">
        <mihyle-question-quiz
          [questionQuiz]="getCurrentQuizAsQuestion()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-question-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsKaraoke()">
        <mihyle-karaoke-quiz
          [karaokeQuiz]="getCurrentQuizAsKaraoke()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-karaoke-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsPicture()">
        <mihyle-picture-quiz
          [pictureQuiz]="getCurrentQuizAsPicture()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-picture-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsPicto()">
        <mihyle-picto-quiz
          [pictoQuiz]="getCurrentQuizAsPicto()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-picto-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsEnumeration()">
        <mihyle-enumeration-quiz
          [enumerationQuiz]="getCurrentQuizAsEnumeration()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-enumeration-quiz>
      </ng-template>
      <ng-template [ngIf]="getCurrentQuizAsDraw()">
        <mihyle-draw-quiz
          [drawQuiz]="getCurrentQuizAsDraw()"
          [questionIndex]="currentQuestionIndex$ | async"
        ></mihyle-draw-quiz>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="isCurrentGameStartRoundState()">
      <p
        *ngIf="currentRound$.value"
        class="font-grinched text-6xl mb-10 select-none"
      >
        {{ currentRound$.value.title }}
      </p>
    </ng-template>
    <ng-template [ngIf]="isCurrentGameStartState()">
      <p
        class="font-grinched font-semibold text-6xl text-center mx-5 select-none"
      >
        Cliquez sur le GRINCH pour commencer le jeu et changer de questions
      </p>
    </ng-template>
    <!--<ng-template [ngIf]="isCurrentGameEndGameState()">
      <p class="font-grinched font-semibold text-6xl">Game End!</p>
    </ng-template>
    <div class="bg-candyCane rounded-full p-1 box-shadow">
      <button
        class="bg-candy-red rounded-full w-full px-6 py-1 text-5xl text-grinch-green font-grinched border-4 border-candy-red text-shadow"
        (click)="OnClickNext()"
      >
        {{ nextButtonText }}
      </button>
    </div>-->
  </div>
  <div class="w-1/2 h-full cursor-pointer" (click)="next()"></div>
</div>
